extends layout

block content
  .modal-holder#coplayer-search-modal
    .modal-box
      .modal-title
        span Add Item
        a.btn.btn-close.fa.fa-times(aria-hidden='true')
      .modal-body
        form.coplayer-search
          input(type='search',placeholder='e.g: youtube.com/watch?v={video Id}', required)
          button(type='submit').btn.btn-flat.fa.fa-search.fa-larger
        .search-result
          .result-item
            .title
            .thumbnail

  .coplayer
    #player.coplayer--players-wrapper.shadow-1
      .player
    .coplayer--playlist-wrapper.shadow-1
      .playlist-header
        span.playlist-title(title='nameAnameAnameAnameAnameA') nameAnameAnameAnameAnameA
        span.playlist-count(title='10/10') 10/10
      .empty-list-item Nothing Here!
      ul.playlist-list.list
        - for (var x = 0; x < 10; x++)
          li.playlist-item.list-item
            img.list-item-thumbnail
            .list-item-body 
              h1
                a(href='', target='_blank').title asdsfgdfhfgjfgjdfgdfgdfghdgshdf
              p.description asdsfgdfhfgjfgjdfgdfgdfghdgshdaaaaaaaaaf
            .list-item-actions
              button.btn
                i.fa.fa-minus(aria-hidden='true')
              //- a.btn(href='', target='_blink') 
              //-   i.fa.fa-external-link-square(aria-hidden='true')
                //- button.btn
                //-   i.fa.fa-ellipsis-v(aria-hidden='true')
      .coplayer-floating-actions
        button.btn.btn-float-action.coplayer-btn-add.shadow-2(target='#coplayer-search-modal') +