doctype html
html
  head
    title= pageTitle
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(charset='utf-8')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/jquery-3.1.1.js')
    script(src='/javascripts/coplayer.js')
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons", rel="stylesheet")
  body
    .container
      table#debug-table
      .header.shadow-1
        span.title= headerTitle
      block content